/* Grundläggande återställning av marginaler och utfyllnader */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Allmänna stilar för sidan */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f5f5dc; /* ljusbeige bakgrund */
    padding: 20px; /* Lägg till lite utrymme runt innehållet */
    border-radius: 15px; /* Runda hörnen på containern */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Lägg till en skugga för att lyfta fram container */
}

/* Stilar för sidhuvudet */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Stilar för huvudinnehållet */
main {
    text-align: center;
    margin-top: 50px;
}

.welcome {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Stilar för bonusar */
.bonus {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Lägg till denna rad för att centrera innehållet horisontellt */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.bonus img {
    max-width: 100px;
    margin-right: 20px;
}

.bonus-details {
    flex: 1;
}

.bonus-details h3 {
    margin-top: 0;
}

.bonus-details ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

/* Stilar för sidfoten */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
